@* @page "/statistic" *@
@page "/statistic/{questionGroupId:guid}"
@inherits StatisticBase

<div class="container mt-5">
    @if (QuestionGroupStatistics == null)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                @* <span class="sr-only">Loading...</span> *@
            </div>
        </div>
    }
    else
    {
        @foreach (var questionGroup in QuestionGroupStatistics)
        {
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Text</th>
                        <th scope="col">Interval</th>
                        <th scope="col">Repetitions</th>
                        <th scope="col">EasyFactor</th>
                        <th scope="col">RepetitionDate</th>
                        <th scope="col">Step</th>
                        <th scope="col">State</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var question in questionGroup.Questions)
                    {
                        <tr>
                            <th scope="row">@question.Text</th>
                            <td>@question.Interval.ToString("dd\\.hh\\:mm")</td>
                            <td>@question.Repetitions</td>
                            <td>@question.EasyFactor</td>
                            <td>@question.RepetitionDate</td>
                            <td>@question.Step.ToString(@"hh\:mm")</td>
                            <td>@question.State</td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        }
    }
</div>

@code {
    private int i = 0;
}